.box{
    width: 300px;
    height: 150px;
    background-color: aquamarine;
    padding: 2px;

}
.go{
    width: 300px;
    height: 150px;
    background-color: aquamarine;
    padding: 2px;
    overflow-y: scroll;
    margin: 100px;

}