html{
    scroll-behavior: smooth;
    color: rgb(6, 2, 9);
  background-image: radial-gradient(blue,yellow,green);
    
}


.aside{
    width: 20%;
    text-align: center;
    height: 40px;
    float: left;
    background-color:rgb(242, 16, 31);
    margin: 25px;
    padding: 25px;
    box-shadow: inset 5px -0 5px rgb(236, 193, 6);
    top: 10%;
    text-shadow: 1opx chartreuse;
    border: 1px solid black;
    overflow: scroll;
    position: relative;
    left: 5px; bottom: 6px;

}
#travals{
    position: sticky;
}


.countenair{
   height: 250px;
   width: 300px;
    filter: grayscale(100%);
   transition: 2s;
   position: sticky;
  
}

.countenair:hover  {
    filter: grayscale(0);
    transform: scale(1.1);
    transition: 2s;
    filter: drop-shadow(rgb(138, 3, 3));
    object-fit: cover;
}
